unidad 01/ejercicios/prueba.dtd

<!ELEMENT banco (sucursal+)>
<!ELEMENT sucursal (nombre,cuenta+)>
<!ATTLIST sucursal codigo NMTOKEN #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT cuenta (tipo,saldo,cliente+)>
<!ATTLIST cuenta iban NMTOKEN #REQUIRED>
<!ELEMENT tipo (#PCDATA)>
<!ELEMENT saldo (#PCDATA)>
<!ELEMENT cliente (nombre,dni)>
<!ELEMENT dni (#PCDATA)>